<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script" />
        <directoryBrowse enabled="false" />
        <security>
            <ipSecurity allowUnlisted="true">
                <clear />
            </ipSecurity>
        </security>
        <staticContent>
            <remove fileExtension=".root" />
            <mimeMap fileExtension=".root" mimeType="application/root" />
        </staticContent>
    </system.webServer>
</configuration>
